* {
    padding: 0;
}

body::selection {
    color: #FFFFFF;
    background-color: #fff100;
    text-shadow: none;
}

body::-moz-selection {
    color: #FFFFFF;
    background-color: #fff100;
    text-shadow: none;
}

.index_page {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding-top: .3125rem;
    position: relative;
}

.header {
    width: 90vw;
    height: .275rem;
    margin: 0px auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.header .info .name {
    font: 500 .0875rem "Roboto";
    color: #080808;
}

.header .info .email {
    font-size: .075rem;
    font: 400 .075rem "Roboto";
    color: #a1a1a1;
}

.left_block {
    width: .0625rem;
    height: .6rem;
    margin-left: 5vw;
    margin-top: 0.25 rem;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left_block div:nth-child(1) {
    height: .15rem;
    background-color: black;
}

.left_block div:nth-child(2) {
    height: .375rem;
    background-color: black;
}

.data {
    text-align: right;
}

.data .work,
.time {
    font: 500 20px "Oswald";
    font-size: .088rem;
    font-weight: 500;
}

.bottom {
    width: 700px;
    height: 300px;
    position: absolute;
    bottom: 1.1rem;
    right: 0;
    /* border: 1px solid purple; */
}

.logo {
    position: absolute;
    /* width: 3.125rem; */
    height: 1rem;
    /* border: 1px solid red; */
    right: 5vw;
    top: 0;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.logo img {
    width: .825rem;
    height: .9375rem;
    vertical-align: text-bottom;
}

.logo span {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
}

.tab_work {
    position: absolute;
    width: 4.125rem;
    height: 1rem;
    top: .8775rem;
    right: .7105rem;
    /* border: 1px solid green; */
}

.tab_work .works {
    margin-left: 2.59rem;
    font-family: 'Oswald';
    font-weight: 500;
}

.tab_work .works:hover {
    cursor: pointer;
    color: #cccccc;
}

.tab_work .top {
    position: absolute;
    z-index: 110;
    font-size: .63rem;
}

.tab_work .under {
    z-index: -110;
    font-size: .63rem;
}

.tab_work .tab_bar {
    margin-top: -0.334rem;
    /* border: 1px solid red; */
}

.tab_bar .box {
    margin-left: 0.61rem;
    width: 35.6vw;
    height: 1rem;
}

.left {
    display: none;
    /* display: block; */
    width: 16vw;
    height: 99vh;
    /* border: 1px solid red; */
    background-color: #0d0b0b;
    position: relative;
    top: 0;
    left: 0;
    /* padding-top: .3125rem; */
}

.show_left {
    display: block;
    animation: left_animation .5s;
}

.left_bar {
    width: 100%;
    height: 35vh;
    /* border: 1px solid green; */
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: flex-start;
    padding-left: .45rem;
}

.left_bar span {
    text-align: left;
    margin-top: .035rem;
    color: #787878;
    font: 400 14px "Roboto";
    /* background-color: greenyellow; */
    text-height: 100%;
}

.left_bar p {
    margin-top: 10px;
    font: 500 20px "Oswald";
    color: #303030;
}

.left_bar span.active {
    font: 500 14px "Roboto";
    color: rgb(0, 0, 0);
    background-color: #fff100;
    opacity: 0.88;
}

.content {
    display: none;
    /* display: block; */
    width: 84vw;
    height: 100vh;
    position: absolute;
    overflow-y: auto;
    right: 0;
    top: 0;
    background-color: #ffffff;
}

.show_content {
    display: block;
    animation-timing-function: ease;
    animation: content_animation .5s;
}

.content div {
    display: none;
    width: 90%;
    height: 7200px;
    margin: 0 auto;
    text-align: center;
    font-size: 450px;
    /* 二级页面背景 */
    background-color: #ffffff;
    color: yellowgreen;
}

.content div.active {
    display: block;
    animation: drop_animation 1s;
    position: relative;
}

.back_home {
    position: absolute;
    top: .4375rem;
    left: .45rem;
    width: .5625rem;
    min-width: .5rem;
    height: .825rem;
    text-align: right;
    /* overflow: hidden; */
}

.back_home img {
    /* width: 1.0625rem; */
    height: .625rem;
}

.back_home p {
    width: 1.0625rem;
    display: block;
    height: .125rem;
    color: rgb(255, 255, 255);
    text-indent: .38rem;
    margin-top: -0.060rem;
    margin-left: -0.475rem;
}

.back_home p span:nth-child(1) {
    font: 500 .0875rem 'Roboto';
}

.back_home p span:nth-child(2) {
    font: 400 .0875rem 'Roboto';
}

@keyframes drop_animation {
    0% {
        /* background: #eeeeee; */
        right: 0px;
        top: 100vh;
        opacity: 0;
    }
    85% {
        /* background: #eeeeee; */
        right: 0px;
        top: 0vh;
        opacity: 0.3;
    }
    100% {
        right: 0px;
        top: 0;
        opacity: 1;
    }
}

@keyframes content_animation {
    0% {
        right: -80vh;
        top: 0;
        opacity: 0;
    }
    75% {
        right: 10vh;
        top: 0;
        opacity: 1;
    }
    100% {
        right: 0;
        top: 0;
        opacity: 1;
    }
}

@keyframes left_animation {
    0% {
        left: 50vw;
        top: 0;
        opacity: 0;
    }
    100% {
        left: 0;
        top: 0;
        opacity: 1;
    }
}

.content::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.content::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

.content::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}

* {
    padding: 0;
    margin: 0;
}

.box {
    width: 3.75rem;
    min-width: 3rem;
    height: 1.25rem;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.hd {
    width: 100%;
    height: 30px;
    font: 500 14px "Roboto";
    /* border: 1px solid green; */
    background-color: #fff200;
    display: flex;
    justify-content: space-around;
    line-height: 30px;
    opacity: 0.8;
}

.hd .yc {
    /* background-color: green; */
    color: red;
}

.bd {
    width: 100%;
    height: 180px;
}

.bd span {
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: rgb(233, 181, 135); */
    /* border: 1px solid sienna; */
    text-align: top;
    display: none;
    z-index: -999;
}

.bd span.yc {
    display: block;
    animation: drop_animation2 1s;
    position: relative;
}

.bd .item1 {
    font: 400 .1rem "Roboto";
    color: #4a4a4a;
    text-align: left;
    padding-left: 2em;
}

.bd .item1 h5 {
    display: inline-block;
}

.bd .item2 {
    padding-top: 0.12rem;
    font: 400 .0875rem 'Roboto';
}

.bd .item2 div {
    font: 400 .0875rem "Roboto";
    /* font-size: 20px;
    font-family: "Roboto"; */
    display: flex;
    justify-content: space-between;
    text-indent: 2em;
    color: #4a4a4a;
}

.bd .item2 h3 {
    font-size: 0.1rem;
}

.bd .item3 {
    padding-top: 0.12rem;
    position: relative;
}

.bd .item3 div {
    font: 500 .0875rem "Roboto";
    position: absolute;
    bottom: 0;
    right: 15%;
}

.bd .item3 img {
    display: block;
    margin-left: -0.125rem;
    width: 100%;
    height: 100%;
    /* border: 1px solid rebeccapurple; */
    /* background-color: #fff200; */
}

.bd .item4 {
    font: 500 30px "Roboto";
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    line-height: .9375rem;
}


/* ******************************* */

@keyframes drop_animation2 {
    0% {
        left: 0px;
        top: -0.25rem;
    }
    65% {
        left: 0px;
        top: .125rem;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}