* {
    padding: 0;
}

body::selection {
    color: #FFFFFF;
    background-color: #fff100;
    text-shadow: none;
}

body::-moz-selection {
    color: #FFFFFF;
    background-color: ;
    text-shadow: none;
}

.index_page {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding-top: .3125rem;
    position: relative;
}

.header {
    width: 90vw;
    height: .425rem;
    margin: 0px auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.header .info .name {
    font: 500 .0875rem "Roboto";
    color:#080808;
}

.header .info .email {
    font-size: .075rem;
    font: 400 .075rem "Roboto";
    color: #a1a1a1;
}

.left_block {
    width: .0625rem;
    height: .625rem;
    margin-left: 5vw;
    margin-top: 0.25 rem;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left_block div:nth-child(1) {
    height: .175rem;
    background-color: black;
}

.left_block div:nth-child(2) {
    height: .375rem;
    background-color: black;
}

.data {
    text-align: right;
}

.data .work,
.time {
    font: 500 .088rem "Oswald";
    font-size: .088rem;
    font-weight: 500;

}

.bottom {
    width: 700px;
    height: 300px;
    position: absolute;
    bottom: 1.1rem;
    right: 0;
    /* border: 1px solid purple; */
}

.logo {
    position: absolute;
    /* width: 3.125rem; */
    height: 1rem;
    /* border: 1px solid red; */
    right: 5vw;
    top: 0;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.logo img {
    width: .825rem;
    height: .9375rem;
    vertical-align: text-bottom;
}

.logo span {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
}

.tab_work {
    position: absolute;
    width: 4.125rem;
    height: 1rem;
    top: .8775rem;
    right: .7105rem;
    /* border: 1px solid green; */
}

.tab_work .works {
    margin-left: 2.59rem;
    font-family: 'Oswald';
    font-weight: 500;
}

.tab_work .works:hover {
    cursor: pointer;
    color: #cccccc;
}

.tab_work .top {
    position: absolute;
    z-index: 110;
    font-size: .625rem;
}

.tab_work .under {
    z-index: -110;
    font-size: .625rem;
}

.tab_work .tab_bar {
    margin-top: -0.334rem;
    /* border: 1px solid red; */
}

.tab_bar .box {
    margin-left: 0.61rem;
    width: 35.6vw;
    height: 1rem;
}

.left {
    display: none;
    /* display: block; */
    width: 20vw;
    height: 99vh;
    /* border: 1px solid red; */
    background-color: #0d0b0b;
    position: relative;
    top: 0;
    left: 0;
    /* padding-top: .3125rem; */
}

.show_left {
    display: block;
    animation: left_animation .5s;
}

.left_bar {
    width: 100%;
    height: 40vh;
    /* border: 1px solid green; */
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: flex-start;
    padding-left: .45rem;
}

.left_bar span {
    text-align: left;
    margin-top: .05rem;
    color: #787878;
    font: 400 14px "Roboto";
    line-height:95%
    /* background-color: greenyellow; */
}

.left_bar p {
    margin-top: 10px;
    font: 500 20px "Oswald";
    color: #303030;
}

.left_bar span.active {
    font: 500 14px "Roboto";
    color: rgb(0, 0, 0);
    background-color: #fff100;
    opacity: 0.88;
}

.content {
    display: none;
    /* display: block; */
    width: 81vw;
    height: 100vh;
    position: absolute;
    overflow-y: auto;
    right: 0;
    top: 0;
    background-color: #ffffff;
}

.show_content {
    display: block;
    animation-timing-function: ease;
    animation: content_animation .5s;
}

.content div {
    display: none;
    width: 90%;
    height: 7200px;
    margin: 0 auto;
    text-align: center;
    font-size: 450px;
    background-color: #cccccc;
    color: yellowgreen;
}

.content div.active {
    display: block;
    animation: drop_animation 1s;
    position: relative;
}

.back_home {
    position: absolute;
    top: .4375rem;
    left: .58rem;
    width: .5625rem;
    min-width: .5rem;
    height: .825rem;
    text-align: right;
    line-height:90%
    /* overflow: hidden; */
}

.back_home img {
    /* width: 1.0625rem; */
    height: .625rem;
}

.back_home p {
    width: 1.0625rem;
    display: block;
    height: .125rem;
    color: rgb(255, 255, 255);
    text-indent: .005rem;
    margin-top: -12px;
    margin-left: -0.5rem;
}

.back_home p span:nth-child(1) {
    font: 500 .0875rem 'Roboto';
}

.back_home p span:nth-child(2) {
    font: 400 .0875rem 'Roboto';
}

@keyframes drop_animation {
    0% {
        /* background: #eeeeee; */
        right: 0px;
        top: 100vh;
        opacity: 0;
    }
    85% {
        /* background: #eeeeee; */
        right: 0px;
        top: 0vh;
        opacity: 0.3;
    }
    100% {
        right: 0px;
        top: 0;
        opacity: 1;
    }
}

@keyframes content_animation {
    0% {
        right: -80vh;
        top: 0;
        opacity: 0;
    }
    75% {
        right: 10vh;
        top: 0;
        opacity: 1;
    }
    100% {
        right: 0;
        top: 0;
        opacity: 1;
    }
}

@keyframes left_animation {
    0% {
        left: 50vw;
        top: 0;
        opacity: 0;
    }
    100% {
        left: 0;
        top: 0;
        opacity: 1;
    }
}

.content::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.content::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

.content::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}
