* {
    padding: 0;
    margin: 0;
}

 ::selection {
    background: #fff100;
    color: rgb(255, 255, 255);
}

.cpage {
    width: 100%;
    height: 100%;
    /* border: 1px solid green; */
}

.content_text_middle {
    width: 5.46875rem;
}

.header div {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}

.header div p {
    font: 500 .125rem "Roboto";
    color: black;
}

.header div span {
    font: 300 .1175rem "Roboto";
    columns: #4a4a44;
    line-height: 20px;
}

.middle {
    box-sizing: content-box;
    width: 100%;
    margin-top: 100px;
    margin: 0 auto;
    /* 子页面背景 */
    background-color: #ffffff;
}

.middle .banner {
    margin-top: 100px;
    width: 100%;
    height: 3000px;
    background-color: #777777;
}

.middle .banner img {
    width: 100%;
    height: 100%;
}

.middle .part1 {
    margin-top: .15625rem;
    display: flex;
    justify-content: space-between;
}

.part1 .item {
    width: 48%;
    height: 2.734375rem;
    background-color: #777777;
}

.part1 .item img {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 6.25rem;
    margin-top: .195313rem;
    margin-top: .390625rem;
}

.content img {
    width: 100%;
    height: 100%;
}

.part3 {
    width: 100%;
    height: 12.5rem;
    background-color: rgba(238, 238, 238);
    margin-top: .195313rem;
}


/* .part3 video {
    width: 100%;
    margin: 0 auto;
} */

.other {
    margin-top: 96px;
    font: 500 .125rem "Roboto";
    width: 84vw;
    margin: 0 auto;
    height: 100px;
    line-height: 170px;
}

.foot {
    width: 84vw;
    margin: 0 auto;
    margin-top: .1875rem;
    margin-bottom: 66px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(238, 238, 238);
}

.item {
    box-sizing: border-box;
    width: 33.333333%;
    height: 2.34375rem;
    background-color: rgba(238, 238, 238);
}

.foot .item:hover {
    background-color: #fff100;
}