<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="../js/index.min.js"></script>
    <link rel="stylesheet" href="../css/template.css">
    <title>Document</title>
</head>



<body style='overflow:scroll;overflow-y:hidden;overflow-x:hidden'>
    <div class="cpage">
        <!--头部 -->
        <div class="header">
            <div class="content_text_left">
                <p>Fruit Chrew Package Serise </p>
                <span>A product’s packaging should appeal to its ideal consumer; it’s important to know who that
                    consumer is before you start the design process. Products for older adults may need larger text.
                    Alternatively, items geared towards an aﬄuent customer will need to consider materials that create a
                    feeling of luxury.
                </span>
            </div>
            <div class="content_text_middle">
                <p>Client</p>
                <span>Vancouver Freeze Dry Ltd
                </span>
                <p><br> Y-2019</p>
            </div>
            <div class="content_text_right">
                <p>Role</p>
                <span>Charactor Design Packaging Food Label regulation Box Layout
                </span>
            </div>
        </div>
        <!--中间内容 -->
        <div class="middle">
            <div class="banner"></div>
            <div class="part1">
                <div class="item"></div>
                <div class="item"></div>
            </div>
            <div class="part2"></div>
            <div class="part3"></div>
        </div>
        <!-- 底部 -->
        <div class="other">Other Projects
        </div>
        <div class="foot">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
    </div>
</body>

</html>